name: Benchmarks

on:
  pull_request_review:
    branches:
      - 'main'
    paths-ignore:
      - 'changelogs/**'
      - '**.md'
      - '.github/*.yml'
    types:
      [submitted]

jobs:
  benchmark:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      # Set up environment
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 11
          cache: 'gradle'

      # Benchmark the current ref
      - uses: actions/checkout@v3
      - name: Benchmark PR
        run: bash ./gradlew mainBenchmark
      - name: Generate benchmark table
        uses: boswelja/kotlinx-benchmark-table-action@0.0.3
        id: pr-table
        with:
          benchmark-results: "benchmark/build/reports/benchmarks/main/*/main.json"

      # Benchmark the main branch
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - name: Benchmark main
        run: bash ./gradlew mainBenchmark
      - name: Generate benchmark table
        uses: boswelja/kotlinx-benchmark-table-action@0.0.3
        id: main-table
        with:
          benchmark-results: "benchmark/build/reports/benchmarks/main/*/main.json"

      # Comment on the PR
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2.4.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            # Benchmarks

            ## Main
            ${{ steps.main-table.outputs.benchmark-table }}

            ## This PR
            ${{ steps.pr-table.outputs.benchmark-table }}
