name: Publish Modules

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Whether this release is a prerelease'
        default: 'true'
        required: true

jobs:
  publish:
    name: Build module and publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0                # fetch the whole repo history

      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'gradle'

      - name: Git Version
        uses: codacy/git-version@2.5.4
        id: version
        with:
          release-branch: main
          log-paths: ./

      - name: Publish modules
        run: ./gradlew  publishToSonatype --max-workers 1 closeAndReleaseSonatypeStagingRepository
        env:
          ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY_CONTENTS }}
          ORG_GRADLE_PROJECT_version: ${{ steps.version.outputs.version }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          commit: ${{ env.GITHUB_SHA }}
          tag: ${{ steps.version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ github.event.inputs.prerelease }}
          artifacts: '**/build/libs/*-${{ steps.version.outputs.version }}-*.jar'
          generateReleaseNotes: true
